<mat-toolbar color="primary">

    <span> <a routerLink="/">My messages</a></span>

    <span class="spacer"></span>

    <ul>
        <li *ngIf="userIsAuthenticated"><a mat-button routerLinkActive="mat-accent"routerLink="/create">New Post</a></li>

        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLinkActive="mat-accent" routerLink="/auth/signUp">Sign up</a>
        </li>

        <li  *ngIf="!userIsAuthenticated">
            <a mat-button routerLinkActive="mat-accent" routerLink="/auth/login">Login</a>
        </li>

        <li>
                <button mat-button (click)="onLogout()"*ngIf="userIsAuthenticated" >Logout</button>
                
            </li>
    </ul>
</mat-toolbar>